<%- include("Partials/header.ejs") %>
<main>
    <div class="new-post">
        <form id="new-post-form" action="/submit" method="POST">
            <input name="title" class="title input" type="text" placeholder="Title">
            <textarea name="content" class="content input" placeholder="What's on your mind"></textarea>
            <button id="submit-post-btn" class="btn btn-warning text-white" type="submit">Submit</button>
        </form>
    </div>
    <div id="post-area">
        <%if(postInput.length > 0) {%>
            <div class="swiper">
                <div class="swiper-wrapper" >
                    <!-- I will have to find a way to dynamically add more posts -->
                    <%postInput.forEach(post=> {%>
                        <%if(post.title || post.content) {%>
                            <div class="swiper-slide">
                                <form action="/post-view" method="POST">
                                    <input name="selected-post-content" value="<%= post.content %>" type="hidden">
                                    <input name="selected-post-title" value="<%= post.title %>" type="hidden">
                                    <button class="btn btn-outline-warning view-post-btn" type="submit"><strong><%= post.title %></strong></button>
                                    <!-- The value was only one word because I didnt wrap it in quotes -->
                                </form>
                                <form action="/delete" method="POST">
                                    <button id="delete-post-home-page" class="delete-post btn btn-danger" name="deleted-post" value="<%= post.title %>" type="submit"><stong>Delete</stong></button>
                                </form>
                            </div>
                        <%}%>
                    <%})%>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div> 
        <%} else {%>
            <h1>No posts found</h1>
        <%  }%>
    </div>
</main>
<%- include("Partials/footer.ejs") %>