<%- include("Partials/header.ejs") %>
<main>
    <!-- Editable view area -->
    <form id="editable-post-form" action="/edit-post" method="POST">
        <input name="edited-title" class="editable-view post-view" type="text" id="editable-post-title" value="<%= title %>">
        <hr class="editable-view" style="width: 55%; margin: 0 24rem;">
        <textarea name="edited-content" class="editable-view post-view" id="editable-post-content"> <%= content %></textarea>
        <button class="btn btn-warning" type="submit" id="save-edit">Save</button>
        <form id="delete-post-form" action="/delete" method="POST">
            <button id="editable-delete-btn" class="delete-post-btn btn btn-danger editable-view" name="deleted-post" value="<%= title %>" type="submit">Delete</button>
        </form>
    </form>
    <!-- Uneditable view area -->   
        <h1 class="uneditable-view post-view" id="uneditable-post-title"><%= title %></h1>
        <hr class="uneditable-view" style="width: 55%; margin: 0 24rem;">
        <p class="uneditable-view post-view" id="uneditable-post-content"><%- content.replace(/\n/g, '<br>') %></p>

        <!-- Edit and Delete post button -->
        <div class="post-view-buttons-container">
            <button class="btn btn-warning" type="button" id="edit-post-btn">Edit</button>
            <form class="uneditable-view" id="delete-post-form" action="/delete" method="POST">
                <button class="delete-post-btn btn btn-danger" name="deleted-post" value="<%= title %>" type="submit">Delete</button>
            </form>
        </div>
</main>
<%- include("Partials/footer.ejs") %>